$first-clr-bg: white;
$second-clr-bg: #1e2e4b;
$first-clr-txt: #1e2e4b;
$second-clr-txt: white;

.Page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Thin", sans-serif;
  position: relative;
  width: 60%;
  height: 100%;
}
.Title {
  margin: 2rem 0 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: $first-clr-txt;
}
.LoginForm {
  max-width: 300px;
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-top: 20%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: $second-clr-bg;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inputsField {
    align-items: center;
    width: 100%;
    height: 90%;
    .inputUsername {
      font-size: 15px;
      border-radius: 5px;
      height: 30px;
      width: 96%;
      &:focus{
        outline: none !important;
        //border:1px solid red;
        box-shadow: 0 0 3px #a0bbd9;
      }
      //margin: 1rem 0 1rem 0;
    }
    .passField {
      margin: 1rem 0 1rem 0;
      width: 96%;
      display: flex;
      align-items: center;
    }
    .passSwitch {
      position: relative;
      right: 5%;
      margin: -15px;
      background-color: $first-clr-bg;
      &:hover {
      }
    }
    .inputPass {
      font-size: 15px;
      border-radius: 5px;
      height: 30px;
      width: 100%;
      &:focus{
        outline: none !important;
        //border:1px solid red;
        box-shadow: 0 0 3px #a0bbd9;
      }
    }
  }
  .submitButton {
    border-radius: 5px;
    width: 50%;
    height: 2rem;
    transition: 0.3s;

    &:hover {
      background-color: #099ea2;
    }
  }
}

@media screen and (width <= 750px)  {
  .Content {
    //background-color: green;
    margin: -100px;
    padding: 0;
    width: 75%;
  }
  .LoginForm {
    width: 75%;
  }
}
@media screen and (width <= 450px)  {
  .Content {
    //background-color: green;
    margin: -100px;
    padding: 0;
    width: 80%;
  }
  .LoginForm {
    width: 80%;
  }
}
@media screen and (height <= 450px)  {
  .Title {
    margin: 1rem 0 0 0;
  }
  .Content {
    //background-color: green;
    margin: -100px;
    padding: 0;
    width: 80%;
  }
  .LoginForm {
    margin: 5%;
    width: 80%;
  }
}
