@font-face {
  font-family: 'Roboto';
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
}

.div{
  position: relative;
  display: flex;
  align-items: center;

  //flex-direction: row;
  //width: 100%;
  //justify-content: space-between;
  //columns: 500px 2;/



  .element{
    display: flex;
    flex-direction: column;
    align-items: center;

    label,textarea,input{
      font-family: Roboto, sans-serif;
      font-size: 17px;
      margin: 15px 0 0 0;
      transition: .25s all;
    }

    .Button_Remove{
      background-color: rgba(217, 0, 0, 0.78);
      border: none;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      margin:5px 0;
      width: 60px;
      height: 25px;
      transition-duration: 0.4s;
      cursor: pointer;

      &:hover{
        background-color: white;
        color: rgba(217, 0, 0, 0.78);
        border: 1px solid #ff0000;
      }
    }

    .Button_Add{
      background-color: rgb(6, 148, 19);
      border: none;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      margin:5px 0;
      padding: 3px;
      width: max-content;
      height: 25px;
      transition-duration: 0.4s;
      cursor: pointer;

      &:hover{
        background-color: white;
        color: rgb(6, 148, 19);
        border: 1px solid #069413;
      }
    }

    span{
      margin: 0 0 0 5px;
      padding: 0;
    }

    .isChanged{
      background-color: rgba(9, 158, 162, 0.26);
      transition: all .25s;
    }

    label{
      font-weight: bold;
    }

    textarea{
      resize: vertical;
      max-height: 100px;
    }

    input{
      border-radius: 5px;
      padding: 3px;
    }
  }

}

.Admin_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
}


@media screen and (width < 900px) {
  .Admin_form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: max-content;

    .element{
      margin: 0 0 0 10px;
    }
  }
}
