.Profile_Module {
  //border: 1px solid black;
  position: fixed;
  padding: 10px;
  width: 20%;
  min-width: 302px;
  top: 152px;
  left: 80px;
  overflow: hidden;
}
.Profile_Body {
  //border: 1px solid black;
  padding: 10px;
  height: 80%;
}
.Profile_Content {
  height: max-content;
  min-height: 550px;
  max-height: 70%;
  background-color: #dae1ec;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  .profile_img{
    input{
      margin: 10px 0;
      overflow: hidden;
      max-width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    img {
      max-height: 200px;
      height: 100%;
      max-width: 200px;
      width: 100%;
      border-radius: 10px;
    }
    p{
      min-width: 250px;
      width: max-content;
      max-width: 250px;
      word-wrap: break-word;
      padding: 5px;
      border-radius: 7px;
      margin-top: 10px;
      border: 1px solid #050517;
      font-size: medium;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
    }
  .Profile_Information{
    //margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
  }
}


@media screen and (width < 900px) {
  .Profile_Module{
    visibility: hidden;
  }
}
